---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Button from "~/components/Button.astro";
import FormAdoption from "~/components/forms/FormAdoption.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const cats = await getCollection("cats");
	return cats.map((cat) => ({
		params: { slug: cat.id },
		props: { cat },
	}));
}

const { cat } = Astro.props;
// console.log(cat);
---

<Layout>
	<Section class="bg-white">
		<Container>
			<div class="bg-white max-w-4xl mx-auto">
				<Image
					src={cat.data.image}
					alt={cat.data.name}
					class:list={"w-full h-full object-cover rounded-2xl shadow rotate-1"}
					transition:name={`cat-image-${cat.id}`}
				/>

				<div class="prose max-w-none">
					<h1 class="h2 text-teal-500 mt-16" transition:name={`cat-title-${cat.id}`}>{cat.data.name}</h1>
					<p class="leading-loose" transition:name={`cat-description-${cat.id}`}>{cat.data.description}</p>
					<div class="not-prose">
						<Button
							href="#adoption-form"
							color="fuchsia"
							class:list={"button bg-gradient-to-r from-fuchsia-500 to-teal-500 text-white"}
							>Adopt me now!</Button
						>
					</div>
				</div>
			</div>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<div class="overflow-hidden bg-white ring ring-fuchsia-500 rounded-2xl max-w-4xl mx-auto">
				<div class="px-4 py-8 sm:px-6">
					<h3>Information</h3>
					<p class="mt-4 max-w-2xl">
						Here you can find detailed information about our lovely cat, {cat.data.name}. This section
						provides insights into their personality, favorite activities, and unique traits that make them
						special. Whether you're looking to adopt or just curious, we hope you enjoy learning more about {
							cat.data.name
						}.
					</p>
				</div>
				<div class="border-t border-gray-100">
					<dl class="divide-y divide-gray-100">
						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Name</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.name}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Gender</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.gender}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Breed</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.breed}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Age</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.age}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Date of birth</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">
								{cat.data.birthDate ? new Date(cat.data.birthDate).toISOString().split("T")[0] : "N/A"}
							</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Child friendly?</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">
								{cat.data.childFriendly ? "Yes" : "No"}
							</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Cat friendly?</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.catFriendly ? "Yes" : "No"}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Dog friendly?</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.dogFriendly ? "Yes" : "No"}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Outside cat?</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.outsideCat ? "Yes" : "No"}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Sterilized?</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">{cat.data.sterilized ? "Yes" : "No"}</dd>
						</div>

						<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
							<dt class="text-sm font-semibold">Available for adoption since</dt>
							<dd class="mt-1 sm:col-span-2 sm:mt-0 capitalize">
								{new Date(cat.data.listDate).toISOString().split("T")[0]}
							</dd>
						</div>
					</dl>
				</div>
			</div>
		</Container>
	</Section>

	<Section class:list={"bg-white scroll-mt-24"} id="adoption-form">
		<Container>
			<div class="max-w-4xl mx-auto ring ring-teal-500 rounded-2xl px-4 py-8 sm:px-6">
				<h3>I'm interested</h3>
				<p class="mt-4 max-w-2xl mb-16 text-balance">
					I would love to adopt {cat.data.name}! Please contact me with more information about the adoption!
				</p>

				<FormAdoption />
			</div>
		</Container>
	</Section>
</Layout>
