---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import { Image, Picture } from "astro:assets";
import Hero from "~/components/Hero.astro";
import Button from "~/components/Button.astro";
import Faq from "~/components/Faq.astro";
import CallToAction from "~/components/CallToAction.astro";
import ShowCats from "~/components/ShowCats.astro";
import ShowBlogs from "~/components/ShowBlogs.astro";
import Heading from "~/components/Heading.astro";
import CatNameGenerator from "~/components/CatNameGenerator.astro";

// Images
import CatBackground from "~/assets/images/pexels-thirdman-8942612.webp";
import CatOne from "~/assets/images/pexels-chevonrossouw-2558605.jpg";
import CatTwo from "~/assets/images/pexels-minan1398-1003994.jpg";

// Faq
const faq = [
	{
		question: "What is the adoption process?",
		answer: "The adoption process is simple. You can view our available pets on our website. If you see a pet you are interested in, you can contact us to schedule a meet and greet. If you decide to adopt the pet, you will need to fill out an adoption application and pay the adoption fee. Once the adoption is complete, you can take your new pet home!",
	},
	{
		question: "What is the adoption fee?",
		answer: "The adoption fee varies depending on the pet. The fee covers the cost of spaying/neutering, vaccinations, microchipping, and other medical expenses. The fee also helps support our shelter and the care of our animals.",
	},
	{
		question: "Can I adopt a pet if I live out of state?",
		answer: "Yes, you can adopt a pet if you live out of state. However, you will need to come to our shelter to meet the pet and complete the adoption process. We do not ship pets, so you will need to pick up your new pet in person.",
	},
	{
		question: "Do you have a return policy?",
		answer: "Yes, we have a return policy. If for any reason you are unable to keep your adopted pet, you can return the pet to our shelter. We want to ensure that all of our pets find loving forever homes, so we are here to help if you need to return a pet.",
	},
];
---

<Layout title="Home" pageTitle="Home" description="Welcome to our pet shelter!">
	<Section class:list={"relative"}>
		<Picture
			src={CatBackground}
			alt="Cat"
			class:list={"absolute inset-0 w-full h-full object-cover"}
			loading={"eager"}
			fetchpriority={"high"}
		/>
		<div class="bg-gradient-to-r from-fuchsia-500/60 to-teal-500/80 absolute inset-0"></div>
		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div class="ml-auto">
					<div class="prose prose-xl prose-invert text-white lg:text-right text-balance">
						<h1 class="text-5xl lg:text-8xl mb-0">Welcome to our pet shelter!</h1>
						<p>
							We have a variety of pets available for adoption. Please take a look at our available pets
							and contact us if you are interested in adopting one. We are always looking for loving homes
							for our pets. Thank you for considering adoption!
						</p>

						<div class="not-prose mt-8">
							<Button url="/cats" color="white"> Adopt now! </Button>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<Hero>
				<div slot="hero-content-left" class="prose">
					<h2 class="h2 text-teal-500">Adopt a pet today!</h2>
					<p class="leading-loose">
						We have a variety of pets available for adoption. Please take a look at our available pets and
						contact us if you are interested in adopting one. We are always looking for loving homes for our
						pets. Thank you for considering adoption!
					</p>

					<div class="not-prose mt-16">
						<Button url="/cats">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="inline-block size-5 -mt-1 mr-1"
								viewBox="0 0 14 14"
								><path
									fill="currentColor"
									fill-rule="evenodd"
									d="M1.777.053A.5.5 0 0 1 2.3.1l3.917 2.947a6.6 6.6 0 0 1 1.564 0L11.7.1a.5.5 0 0 1 .801.4v8.25h.748a.75.75 0 0 1 0 1.5h-.81a4.5 4.5 0 0 1-.479 1.391l1.376.688a.75.75 0 1 1-.67 1.342l-1.654-.827A4.48 4.48 0 0 1 8 14H6a4.48 4.48 0 0 1-3.011-1.156l-1.654.827a.75.75 0 1 1-.67-1.342l1.376-.688a4.5 4.5 0 0 1-.479-1.391h-.81a.75.75 0 0 1 0-1.5H1.5V.5a.5.5 0 0 1 .277-.447M9.124 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-4.25 0a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m.897 1.605A.5.5 0 0 1 6.25 9h1.5a.5.5 0 0 1 .277.916l-.75.5a.5.5 0 0 1-.554 0l-.75-.5a.5.5 0 0 1-.202-.56Z"
									clip-rule="evenodd"></path></svg
							>
							Adopt a cat
						</Button>
					</div>
				</div>
				<div slot="hero-content-right" class="-rotate-1">
					<Image src={CatOne} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-teal-500">Available Cats</h2>
				<p slot="heading-content">
					We have a variety of cats available for adoption. Please take a look at our available cats and
					contact us if you are interested in adopting one. We are always looking for loving homes for our
					cats. Thank you for considering adoption!
				</p>
			</Heading>

			<ShowCats cats={["reckoning", "chairman-meow", "pawdre-hepburn"]} />
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<Hero invert>
				<div slot="hero-content-left" class="prose">
					<h2 class="h2 text-fuchsia-500">FAQ</h2>
					<Faq items={faq} color="fuchsia" />
				</div>
				<div slot="hero-content-right" class="rotate-1">
					<Image src={CatTwo} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>

	<Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-fuchsia-900/80 to-teal-900/80 absolute inset-0"></div>

		<Container class:list={"relative z-10"}>
			<CallToAction
				title="Contact us today to adopt a cat"
				link={{ title: "Adopt", url: "/cats", color: "white" }}
			/>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-teal-500">News from our shelter</h2>
				<p slot="heading-content">
					Welcome to our blog! Here you will find the latest news and updates from our pet shelter. We are
					passionate about helping pets find loving forever homes, and we are excited to share our stories
					with you. Thank you for supporting our shelter!
				</p>
			</Heading>

			<ShowBlogs posts={["hello-world", "new-arrival-luna", "new-site-launched"]} />
		</Container>
	</Section>

	<Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-fuchsia-900/80 to-teal-900/80 absolute inset-0"></div>

		<Container class:list={"relative z-10"}>
			<CatNameGenerator title="Help me name my new cat!" />
		</Container>
		<script>
			import { gsap } from "gsap";
			console.log("GSAP loaded", gsap.version);
		</script>
	</Section>
</Layout>
