---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import { Image, Picture } from "astro:assets";
import Hero from "~/components/Hero.astro";
import Button from "~/components/Button.astro";
import Faq from "~/components/Faq.astro";
import CallToAction from "~/components/CallToAction.astro";
import ShowCats from "~/components/ShowCats.astro";
import ShowBlogs from "~/components/ShowBlogs.astro";
import Heading from "~/components/Heading.astro";
import CatNameGenerator from "~/components/CatNameGenerator.astro";

// Images
import CatBackground from "~/assets/images/pexels-thirdman-8942612.webp";
import CatOne from "~/assets/images/pexels-chevonrossouw-2558605.jpg";
import CatTwo from "~/assets/images/pexels-minan1398-1003994.jpg";

// Faq
const faq = [
	{
		question: "How do I book an appointment?",
		answer: "Booking your nail session is easy. Simply browse our available styles in the Gallery or Services section. Once you’re inspired, head to our Booking page to select your preferred time and artist. You’ll receive a confirmation once your appointment is secured.",
	},
	{
		question: "What are your service rates?",
		answer: "Our pricing varies depending on the complexity of the design, products used, and nail length. Each service includes premium products and meticulous care. Please refer to our Services page for a detailed breakdown.",
	},
	{
		question: "Do you accept clients from outside the city?",
		answer: "Absolutely! We welcome clients from all locations. While we don’t offer mobile or at-home services at the moment, you’re invited to visit our studio for a full luxury experience. If you're traveling, let us know in advance so we can accommodate your schedule.",
	},
	{
		question: "What is your cancellation policy?",
		answer: "We understand that plans change. To respect everyone’s time, we kindly ask for at least 24 hours' notice for cancellations or rescheduling. Missed appointments or late cancellations may incur a fee. Please see our full Cancellation Policy on the Booking page.",
	},
];
---

<Layout title="Home" pageTitle="Home" description="Welcome to Iza's Nailtech Art Studio!">
	<Section class:list={"relative"}>
		<Picture
			src={CatBackground}
			alt="Cat"
			class:list={"absolute inset-0 w-full h-full object-cover"}
			loading={"eager"}
			fetchpriority={"high"}
		/>
		<div class="bg-gradient-to-r from-fuchsia-500/60 to-teal-500/80 absolute inset-0"></div>
		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div class="ml-auto">
					<div class="prose prose-xl prose-invert text-white lg:text-right text-balance">
						<h1 class="text-5xl lg:text-8xl mb-0">Welcome to Iza's Nailtech Art Studio!</h1>
						<p class="magical">
							We have a variety of pets available for adoption. Please take a look at our available pets
							and contact us if you are interested in adopting one. We are always looking for loving homes
							for our pets. Thank you for considering adoption!
						</p>

						<div class="not-prose mt-8">
							<Button url="/cats" color="white"> Adopt now! </Button>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<Hero>
				<div slot="hero-content-left" class="prose">
					<h2 class="h2 text-teal-500">Book your Nail Transformation Today</h2>
					<p class="leading-loose">
						Explore our exclusive range of nail art styles—each design created to elevate your look and express your individuality. ✨ Browse our portfolio and get in touch to reserve your appointment. We can’t wait to bring your dream nails to life. Thank you for choosing elegance at your fingertips! 💖
					</p>

					<div class="not-prose mt-16">
						<Button url="/cats">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="inline-block size-5 -mt-1 mr-1"
								viewBox="0 0 14 14"
								><path
									fill="currentColor"
									fill-rule="evenodd"
									d="M1.777.053A.5.5 0 0 1 2.3.1l3.917 2.947a6.6 6.6 0 0 1 1.564 0L11.7.1a.5.5 0 0 1 .801.4v8.25h.748a.75.75 0 0 1 0 1.5h-.81a4.5 4.5 0 0 1-.479 1.391l1.376.688a.75.75 0 1 1-.67 1.342l-1.654-.827A4.48 4.48 0 0 1 8 14H6a4.48 4.48 0 0 1-3.011-1.156l-1.654.827a.75.75 0 1 1-.67-1.342l1.376-.688a4.5 4.5 0 0 1-.479-1.391h-.81a.75.75 0 0 1 0-1.5H1.5V.5a.5.5 0 0 1 .277-.447M9.124 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-4.25 0a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m.897 1.605A.5.5 0 0 1 6.25 9h1.5a.5.5 0 0 1 .277.916l-.75.5a.5.5 0 0 1-.554 0l-.75-.5a.5.5 0 0 1-.202-.56Z"
									clip-rule="evenodd"></path></svg
							>
							Adopt a cat
						</Button>
					</div>
				</div>
				<div slot="hero-content-right" class="-rotate-1">
					<Image src={CatOne} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-teal-500">Featured Nail Art Styles</h2>
				<p slot="heading-content">
					Discover our curated collection of signature nail designs—each crafted with precision, creativity, and a touch of glam. ✨ Take a look at our latest styles and get inspired for your next appointment. We’re here to help you find the perfect look that suits your personality. Thank you for letting us be part of your beauty journey!
				</p>
			</Heading>

			<ShowCats cats={["reckoning", "chairman-meow", "pawdre-hepburn"]} />
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<Hero invert>
				<div slot="hero-content-left" class="prose">
					<h2 class="h2 text-fuchsia-500">FAQ</h2>
					<Faq items={faq} color="fuchsia" />
				</div>
				<div slot="hero-content-right" class="rotate-1">
					<Image src={CatTwo} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>

	<Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-fuchsia-900/80 to-teal-900/80 absolute inset-0"></div>

		<Container class:list={"relative z-10"}>
			<CallToAction
				title="Ready for Gorgeous Nails? Reserve Your Spot"
				link={{ title: "Adopt", url: "/cats", color: "white" }}
			/>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-teal-500">Studio Journal</h2>
				<p slot="heading-content">
					Welcome to our blog—your go-to source for the latest trends, updates, and inspirations from our nail art studio. 💅 We're passionate about creativity, self-expression, and elevating beauty through the art of nails. Here, we’ll share behind-the-scenes moments, style tips, artist spotlights, and more. Thank you for being part of our journey and supporting the beauty of individuality—one nail at a time.
				</p>
			</Heading>

			<ShowBlogs posts={["hello-world", "new-arrival-luna", "new-site-launched"]} />
		</Container>
	</Section>

	<Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-fuchsia-900/80 to-teal-900/80 absolute inset-0"></div>
		<Container class:list={"relative z-10"}>
			<CatNameGenerator title="Help Me Pick a Surprise Style!" />
		</Container>
		<script>
			import { gsap } from "gsap";
			import { SplitText } from "gsap/SplitText";
			console.log("GSAP loaded", gsap.version);
			gsap.registerPlugin(SplitText);

			document.fonts.ready.then(() => {
				// Split the text into words
				let split = SplitText.create(".magical", {
					type: "chars, lines, words",
					onSplit: (self) => {
						gsap.from(split.chars, {
							y: 100,
							autoAlpha: 0,
							stagger: 0.05,
						});
					}
				});
			});

			let split = SplitText.create(".magical", {
				type: "chars, lines, words",
			});
			gsap.from(split.chars, {
				y: 100,
				autoAlpha: 0,
				stagger: 0.05,
			})
		</script>
	</Section>
</Layout>
