---
import { Image } from "astro:assets";
const { cat } = Astro.props;

if (!cat) {
	return;
}
---

<article
	class="odd:rotate-1 even:-rotate-1 hover:rotate-0 transition hover:scale-105 duration-500 bg-white"
	data-cat={JSON.stringify(cat.data)}
>
	<a href={`/cats/${cat.id}`} class="h-full flex flex-col">
		<Image
			src={cat.data.image}
			alt={cat.data.name}
			class:list={"w-full aspect-[6/4] object-cover rounded-t-2xl"}
			transition:name={`cat-image-${cat.id}`}
		/>

		<div class="px-4 pt-8 flex flex-col grow border-x-2 border-b-2 border-gray-100 rounded-b-2xl overflow-hidden">
			<h2 class="h5 tracking-wide" transition:name={`cat-title-${cat.id}`}>{cat.data.name}</h2>
			<p class="mt-2 mb-8 prose" transition:name={`cat-description-${cat.id}`}>{cat.data.description}</p>
			<span
				class="text-center px-4 py-2 -mx-4 text-white text-2xl font-bold bg-gradient-to-r from-fuchsia-500 to-teal-500 mt-auto block"
			>
				Adopt Me
			</span>
		</div>
	</a>
</article>
