---
import { Image } from "astro:assets";
const { member } = Astro.props;

if (!member) {
	return;
}
---

<li>
	<Image
		src={member.data.image}
		alt={member.data.name}
		class:list={"w-full aspect-square rounded-full object-cover"}
	/>

	<div class="text-center mt-8 text-balance">
		<h3 class="h4 tracking-wide text-teal-500">{member.data.name}</h3>
		<small class="text-sm">{member.data.role}</small>
		<p class="mt-2 mb-8 prose prose-lg font-semibold">{member.data.description}</p>
	</div>
</li>
