---
const { items, color = "teal" } = Astro.props;

interface FaqItem {
	question: string;
	answer: string;
}

const colors: { [key: string]: string } = {
	teal: "text-teal-500",
	fuchsia: "text-fuchsia-500",
};
---

<dl class="not-prose mt-8 space-y-4 divide-y divide-gray-fuchsia-200" x-data="{ open: 0 }">
	{
		items.map((item: FaqItem, index: number) => (
			<div class="pt-4">
				<dt>
					<button
						type="button"
						class="flex w-full items-start text-left"
						aria-controls={`faq-${index}`}
						x-on:click={`open = ${index}`}
						aria-expanded="false"
						x-bind:aria-expanded={`open === ${index}`}
					>
						<span class="mr-4 flex h-7 items-center">
							<svg
								class={`size-6 ${colors[color]}`}
								x-bind:class={`{ 'hidden': open === ${index} }`}
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								aria-hidden="true"
								data-slot="icon"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
							</svg>
							<svg
								class={`size-6 ${colors[color]}`}
								x-bind:class={`{ 'hidden': !(open === ${index}) }`}
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								aria-hidden="true"
								data-slot="icon"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
							</svg>
						</span>
						<span class="font-bold">{item.question}</span>
					</button>
				</dt>
				<dd class="mt-2 pr-12" id={`faq-${index}`} x-show={`open === ${index}`} x-cloak>
					<p class="prose">{item.answer}</p>
				</dd>
			</div>
		))
	}
</dl>
